* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.App {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgb(63, 63, 63);
	color: rgb(255, 252, 252);

	border: 2px solid rgb(255, 253, 253);
}

.wrapper {
	width: 50vw;
	height: 50vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.word-section {
	width: 90%;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;

	background-color: rgb(45, 38, 39);
}

.letter {
	width: 30px;
	font-size: 34px;
	font-weight: bold;
	border-bottom: 3px solid rgb(255, 253, 253);
	text-align: center;
}

.letter.hidden {
	color: transparent;
}

.letter-section {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;

	width: 100%;
	margin-top: 30px;

	font-size: 32px;
}

.letter-choosen {
	width: 50px;
	height: 50px;
	font-size: 38px;
	font-weight: bold;
	border: 2.5px solid rgb(255, 253, 253);
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	background-color: inherit;
	color: rgb(255, 253, 253);
}

.letter-choosen.none {
	border: 1px solid rgb(94, 93, 93);
	color: rgb(94, 93, 93);
}

.letter-choosen.none:hover {
	cursor: default;
}
.count-section {
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.new-game {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border: 2px solid gray;

	height: 60vh;
	width: 60vw;
	background-color: rgb(63, 63, 63);
}
.new-game.none{
  display: none;
}
.new-game__tittle {
	font-size: 52px;
	letter-spacing: 5px;
	color: brown;
}

.new-game-btn {
	width: initial;
	padding: 10px 30px;
	background-color: rgb(65, 63, 63);
	border: none;
	font-size: 30px;
	text-shadow: 1px 11px 3px rgb(0, 0, 0);
	cursor: pointer;
}
